.btn {
    padding: 10px 20px;
    cursor: default;
    color: #ccc;
    border: 1px solid #ccc;
    background-color: transparent;

    //@TODO, will not work need to add scss support
    &__default {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
}

.btn:not([disabled]) {
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
}
